In [18]:
import pandas as pd
import os

In [19]:
elements = ['aux','groundwater','Ac','Se','Ag','Am','Cd','Cf','Cm','Cu','Fe','Hg','Mo','Nb',
            'Ni','Zn','U','Np','P','Pa','Pb','Pd','Po','Pu','Ra','SmEuHo','Si','Sn','Tc','Th','Ti','Zr', 'organics'] # few elements are repeated due to missing master species in reactions

In [20]:
# Read the CSV file into a DataFrame
for element in elements:
    file_name_in = f"dcomp-aqueous.{element}.csv"
    file_name_out = f"dcomp-solids.{element}.csv"
    
    if os.path.exists(file_name_in):

        df = pd.read_csv(file_name_in)

    # Filter rows where 'agg_state' column contains 's'
        filtered_df = df[df['agg_state'].str.contains('s', na=False)]

    # Save the filtered rows to a new CSV file
        filtered_df.to_csv(file_name_out, index=False)

In [11]:
file_name_in = f"dcomp-aqueous.{'Ag'}.csv"
file_name_out = f"dcomp-solids.{'Ag'}.csv"

In [12]:
df = pd.read_csv(file_name_in)

    # Filter rows where 'agg_state' column contains 's'
filtered_df = df[df['agg_state'].str.contains('s', na=False)]

In [13]:
filtered_df

,Symbol,Name,Composition,agg_state,DfGm [kJ/mol],sigma DfGm [kJ/mol],DfHm [kJ/mol],sigma DfHm [kJ/mol],Sm [J/(K mol)],sigma Sm [J/(K mol)],Cpm [J/(K mol)],sigma Cpm [J/(K mol)]
1,Ag(cr),Silver,Ag|0|,s,0.0,NaN,0.000,NaN,42.55,0.2,25.35,0.1
2,Ag2Se(alpha),Ag2Se(alpha),Ag2Se|-2|,s,-46.9,1.3,-40.129,1.32,149.90,0.5,81.15,0.9

In [14]:
filtered_df.to_csv(file_name_out, index=False)